<%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/navbar.ejs') %>
      <main>
        <h2>Log in</h2>
        <form action="/auth/login" method="post">
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" required>
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" required>
          </div>
          <div>
            <button>Log in</button>
            <a href="<%= host %>/auth/signup">Sign up</a>
            <a href="<%= host %>/auth/email-reset-pass">Change Password</a>
          </div>
        </form>
        <%- include('../includes/error.ejs') %>
      </main>